{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "debug": false
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}